<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShopMax &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/assets2/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets2/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets2/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets2/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="~/assets2/css/aos.css">

    <link rel="stylesheet" href="~/assets2/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Doan.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
    <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/styles/categories_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/categories_responsive.css">
</head>
<body>
   @await Component.InvokeAsync("MenuView")
    @RenderBody()
    @await Component.InvokeAsync("Footer")
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

</body>
</html>