@model IList<Slide> 
@foreach(var item in Model)
	{
		<div class="main_slider" style="background-image:url(@item.Images)">
			<div class="container fill_height">
				<div class="row align-items-center fill_height">
					<div class="col">
						<div class="main_slider_content">
							<h6>@item.Title</h6>
							<h1>@item.Contents</h1>
							@* <div class="red_button shop_now_button"><a href="#">shop now</a></div>  *@
						</div>
					</div>
				</div>
			</div>
		</div>
	} 