@model IList<Benefit>

<div class="benefit">
	<div class="container">
		<div class="row benefit_row">
			@foreach ( var item in Model)
			{
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="@item.Icon" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>@item.Title</h6>
						<p>@item.Contents</p>
					</div>
				</div>
			</div>
			}
			
		</div>
	</div>
</div>
