@using Doan.Models;
@using Doan.Utilities;
@model IList<NewArrivals>
<style>   
    .new_arrivals {
        padding: 50px 0;
    }

    .section_title {
        margin-bottom: 50px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
    }


    .product-item {
        flex: 1 1 30%;
        margin: 15px;
        box-sizing: border-box;
    }

    .product {
        background-color: #fff;
        border: 1px solid #e4e4e4;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    .product_image {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 20px;
    }

        .product_image img {
            max-width: 100%;
            height: auto;
        }

    .product_info {
        padding: 10px;
        text-align: center;
    }
</style>
<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2 style="font-family:'Times New Roman';margin-top:-50px">DANH SÁCH NỔI BẬT</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sortirng clearfix button-group filters-button-group" style="font-family:'Times New Roman'; margin-top:-30px">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">TẤT CẢ</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".quanao">QUẦN ÁO</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".aophong">ÁO PHÔNG</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".vaydam">VÁY ĐẦM</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-grid" id="product-grid" style="margin-left:50px">
                    @foreach (var item in Model.Take(5))
                    {
                        <div class="product-item @(item.ParentID == 1 ? "quanao" : item.ParentID == 11 ? "aophong" : "vaydam")">
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="@item.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_info">
                                    <h6 class="product_name" style="font-family:'Times New Roman';overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size:16px"><a href="">@item.Name</a></h6>
                                    <div class="product_price" style="color:#808080;font-family:'Times New Roman'">@item.Price.000 VND<span></span></div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="/Product/Details/@item.Id">Chi tiết sản phẩm</a></div>
                        </div>
                    }
                </div>
               
            </div>
        </div>
    </div>
</div>

