 @using Doan.Areas.Admin.Models
@model IList<AdminMenu>

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">


        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span></br>
         
            </a>
        </li>
        <!-- End Dashboard Nav -->
        @foreach (var item in Model.Where(m => m.level == 1).OrderBy(n => n.order))
        {
            var Pid = item.id;
            var Smenu = Model.Where(p => p.parentLevel == Pid).OrderBy(p => p.order).ToList();

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#@item.target" data-bs-toggle="collapse" href="#">
                    <i class="@item.icon"></i>
                    <span style="font-family:'Times New Roman';font-size:18px">@item.name</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                @if (Smenu.Count != 0)
                {
                    <ul id="@item.target" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        @foreach (var smn in Smenu)
                        {
                            <li>
                                <a href="/admin/@smn.controllerName/@smn.actionName">
                                    <i class="bi bi-circle"></i><span style="font-family:'Times New Roman';font-size:18px">@smn.name</span>
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }

    </ul>

   

</aside><!-- End Sidebar--> 